[Unit]
Description=Restore Digits Audio Mixer State
After=sound.target
Before=digitsd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/alsactl restore 0 -f /data/digits_mixer.state

[Install]
WantedBy=multi-user.target
