[Unit]
Description=Restore Digits Audio Mixer State
After=sound.target
Before=digitsd.service

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=15
ExecStartPre=/bin/sh -c 'until [ -d /proc/asound/digitscodec ] || [ -d /proc/asound/Zero ]; do sleep 1; done'
ExecStart=/bin/sh -c 'alsactl restore digitscodec -f /data/digits_mixer.state 2>/dev/null || alsactl restore Zero -f /data/digits_mixer.state 2>/dev/null || true'

[Install]
WantedBy=multi-user.target
